.nextflow*
/.singularity/
/.conda/
/.docker/
/outputs/
work/
/test/db/
/test/*-test/
/test/*/outputs
/test/*/work
/test/*/*.html
/test/*/slurm-*.out
/test/output-*/
/test/work/
~$*.xlsx
*.html
*.requirements.txt
*.log