manifest {

    author          = "Eachan Johnson"
    homePage        = "https://github.com/scbirlab/nf-report"
    description     = "Predict gene-gene interactions based on protein-protein interaction predictions and similar metabolites."
    defaultBranch   = "v0.0.2"
    nextflowVersion = '!>=24.0.0'
    version         = "0.0.2"
    doi             = ''

}

params {
    
    test = false    
    help = false

    /* Required */
    sample_sheet = null

    /* Required if not using sample sheet */
    organism_id = null

    /* Optional */
    chembl_db = false
    
    min_identity = 0.35
    min_loeuf = 0.4
    min_pchembl = 6.0

    inhibitors = false  // whether to fetch inhibitors of targets
    fetch_tox = false // whether to get target tox data

    rhea_url = "https://ftp.expasy.org/databases/rhea"
    chembl_url = "https://www.ebi.ac.uk"
    pubchem_url = "https://pubchem.ncbi.nlm.nih.gov"
    taxonkit_db_url = "https://ftp.ncbi.nlm.nih.gov/pub/taxonomy/taxdump.tar.gz"
    gnomad_version = "4.1"
    chembl_version = "34"
    default_kingdom = "Bacteria"
    tox_cell_lines = [
      "HCT116",
      "HEK293T",
      "HaCaT",
      "RPE-1",
      "HepG2",
      "HEK293",
      "HeLa",
      "A549",
      "NHDF",
      "HepaRG",
      "L02",
      "K562",
      "THP-1",
      "Caco-2",
      "iPSC-CM",
      "HAP1",
      "CHO"
    ]

    outputs = "outputs"
    inputs = "inputs"
    batch_size = 1000
    plots = false

}

process {
  container = 'ghcr.io/scbirlab/nf-report:latest'
  containerEngine = 'auto'  // docker, singularity, or podman
  conda = "${projectDir}/environment.yml"
  //scratch = true
}

conda {
  createTimeout = '4 h'
  cacheDir = "${projectDir}/.conda"
}

singularity {
  autoMounts = true
  cacheDir = "${projectDir}/.singularity"
  pullTimeout = "1h"
}

docker {
  cacheDir = "${projectDir}/.docker"
  temp = true  // run in isolated container mount
  //runOptions = "--user ${System.getenv('UID')}:${System.getenv('GID')}"
}

profiles {

  standard {

    singularity.enabled = true

    process {
      executor = 'slurm'
      array = 100

      withLabel: big_cpu {
        time = '12h'
        cpus = 16
        memory = 32.GB
      }

      withLabel: big_time {
        time = '7d'
        cpus = 1
        memory = 128.GB
      }

      withLabel: some_mem {
        memory = 16.GB
      }

      withLabel: med_mem {
        memory = 64.GB
      }

      withLabel: big_mem {
        memory = 128.GB
      }

      withLabel: gpu_single {
        queue = 'ga100'
        time = '7d'
        module = 'cuDNN/8.9.2.26-CUDA-12.1.1'
        cpus = 1
        clusterOptions = '--gres=gpu:1'
        memory = 128.GB
      }

      withLabel: gpu {
        queue = 'ga100'
        time = '4h'
        module = 'cuDNN/8.9.2.26-CUDA-12.1.1'
        cpus = 1
        clusterOptions = '--gres=gpu:2'
        memory = 128.GB
      }

    }

    dag {
      enabled = true
      overwrite = true
    }

    notification {
      enabled = true
      to = "$USER@crick.ac.uk"
    }

  }

  local {

    process {
      executor = 'local'

      withLabel: big_cpu {
        time = '3h'
        cpus = 16
        memory = 32.GB
      }

      withLabel: some_mem {
        memory = 8.GB
      }

      withLabel: med_mem {
        memory = 16.GB
      }

      withLabel: big_mem {
        memory = 32.GB
      }

      withLabel: gpu {
        memory = 32.GB
      }

    }

  }

  gh {

    docker.enabled = true
    docker.runOptions = '-u 1001:1001'

    process {
      executor = 'local'
      cpus = 1
      memory = 12.GB

    }

  }

}